<h1>{{ title }}</h1>

<ul>
    {{#each students}} <li>
        {{ studentID }} / {{ studentName }} / {{studentGrade}} / {{studentDepartment}} / {{joinTime}} / {{studentEmail}}
        </a>
    </li>
    {{/each}}
</ul>